a[routerLink] {
  text-decoration: none;
}

.scrollable-container {
  display: block;
  background: #f6f8fb;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}


